.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #455a64;
    padding: 8px 12px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
}
.navbar a {
    text-decoration: none;
    color: white;
}
.navbar_logo {
    font-size: 28px;
    color: white;
}
.navbar_logo i {
    color: #9ae6c3;
}

.navbar_menu {
    display: flex;
    list-style: none;
    margin: 0;
}
.navbar_menu li {
    padding: 1.5rem;
    justify-content: space-between;
    font-size: 2rem;
}