:root {
    scroll-behavior: smooth;
}
.top_button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 100;
    display: none;
}
.top_button_link {
    position: -webkit-sticky;
    position: sticky;
    top: 85vh;
    text-decoration: none;
    background-color: #9dcdb3;
    padding: 1rem;
    color: white;
    font-weight: 700;
    opacity: .5;
}
.top_button_link:hover {
    opacity: initial;
}